<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klinik</title>
    <link rel="stylesheet" href="../model/css/style.css">
    <link rel="stylesheet" href="../model/css/bootstrap.min.css">
</head>
<body>
    <div class="main-content d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-3 pt-3 pb-4">
                <h6 class="fx-4"><span class="text-dark"><img src="../img/envelope-open.png" alt=""></span> <img src="../img/tally-1.png" alt=""><span class="text-dark">Klinik Berkah Bermanfaat</span></h6>
                
            </div>
            
            <ul class="list-unstyled p-2">
                <li class=""><a href="" class="text-decoration-none collapse px-3 p-2 d-block"><img src="../img/apps1.png">Dashboard</a></li>
                
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <img src="../img/folder-minus1.png"> 
                        Rawat Jalan
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="semuastatus.html">Semua Status</a></li>
                                    <li><a class="dropdown-item" href="Reservasi.html">Reservasi</a></li>
                                    <li><a class="dropdown-item" href="Registrasi.html">Registrasi</a></li>
                                </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" > <img src="../img/add-folder1.png"> 
                        Rekam Medis
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="">Semua Status</a></li>
                                    <li><a class="dropdown-item" href="#">Reservasi</a></li>
                                    <li><a class="dropdown-item" href="#">Registrasi</a></li>
                                </ul>
                </div>
                
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><img src="../img/wallet1.png" alt="">Pembayaran</a></li>
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <img src="../img/table1.png"> 
                        Master Data
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="">Semua Status</a></li>
                                    <li><a class="dropdown-item" href="#">Reservasi</a></li>
                                    <li><a class="dropdown-item" href="#">Registrasi</a></li>
                                </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <img src="../img/calendar-minus.png"> 
                        Jadwal Dokter
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="">Semua Status</a></li>
                                    <li><a class="dropdown-item" href="#">Reservasi</a></li>
                                    <li><a class="dropdown-item" href="#">Registrasi</a></li>
                                </ul>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><img src="../img/user1.png" alt="">Pasien</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><img src="../img/box1.png" alt="">Inventori</a></li>  
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <img src="../img/clipboard-list1.png"> 
                        Closing & Laporan
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="">Semua Status</a></li>
                                    <li><a class="dropdown-item" href="#">Reservasi</a></li>
                                    <li><a class="dropdown-item" href="#">Registrasi</a></li>
                                </ul>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><img src="../img/square-code1.png" alt="">Integrasi</a></li>
            </ul>
            <hr>
            <div class="user">
                <a href="#" class="text-decoration-none"><img src="../img/luffy.jpg" alt=""><h1>Admin</h1></a>
                    
            </div>
    </div>
    <div class="content">
            <h1>Rawat Jalan > Registrasi</h1>
            
        </div>
    </div>

    <script type="text/javascript" src="../model/js/popper.min.js"></script>
    <script type="text/javascript" src="../model/js/bootstrap.min.js"></script>
</body>
</html>